{% extends "layout.html" %}

{% block content %}

  <br>
<br>
<div class="container" style="width:450px">

    <form method="POST" action="/login">

    {% if message %}
        <p class="error">{{message}}</p>
    {% endif %}
        <h2>Login</h2>
         <center><img src="static\assets\datapoem.jpg" width="250px" height="250px">
        <br><h1>Datapoem</h1> </center>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email"  class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password"  class="form-control">
        </div>
        <center><input type="submit" value="Login" class="w3-button w3-green"></center>
    </form>
</div>


{% endblock %}